/*Pull-to-Refreshを無効にする。*/
body{
    margin:0;
    overscroll-behavior-y: none;
}
.acd-check{
  display: none;
  }
.acd-label{
  background: #333;
  color: #fff;
  display: block;
  margin-bottom:0px;
  padding-left:25px;
  padding-right:25px;
  width:0px;
}
.acd-content{
  height:150px;
  width:100px;
  transition: .5s;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
  background-color: #6d6d6d;
  height: 150px;
  opacity: 1; /*透明度*/
  visibility: visible;
  margin-bottom:1px;
  margin-left:1px;
  padding-left:25px;
  padding-right:25px;
  width:100px;
}
#myRange1, #myRange2{
    -webkit-appearance:none;
    background:#182005;
    height:10px;
    width:150px;
    border-radius:8px;
  }
  input[type=range]::-webkit-slider-thumb{
    -webkit-appearance:none;
    background:yellow;
    height:50px;
    width:20px;
    border-radius:40%;
    border: 1px solid black;
  }
  input[type=range]::-ms-tooltip{
    display:none;
  }
  input[type=range]::-moz-range-track{
    height:0;
  }
  input[type=range]::-moz-range-thumb{
    background:#f00;
    height:20px;
    width:20px;
    border:none;
    border-radius:50%;
  }
  
  #brake{
    position:absolute;
    bottom:30%;
    left:30%;
    height:60px;
    width:100px;
    background-color:red;
  }

#myRange1{
position:absolute;
top:50%;
transform:scale(2,2);
right:15%;
}
#out1{
transform:scale(2,2);
position:absolute;
top:5%;
right:10%;
}

#myRange2{
position:absolute;
top:50%;
left:10%;
transform:scale(2,2) rotate(-90deg);
overscroll-behavior-y :none;
}
#out2{
transform:scale(2,2);
position:absolute;
top:5%;
left:10%;
} 




/* The parameters are as follow: matrix(scaleX(),skewY(),skewX(),scaleY(),translateX(),translateY())  */