.acd-check{
    display: none;
    }
.acd-label{
    background: #333;
    color: #fff;
    display: block;
    margin-bottom:0px;
    padding-left:25px;
    padding-right:25px;
    width:0px;
}
.acd-content{
    height:150px;
    width:100px;
    transition: .5s;
    visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
    background-color: #6d6d6d;
    height: 150px;
    opacity: 1; /*透明度*/
    visibility: visible;
    margin-bottom:1px;
    margin-left:1px;
    padding-left:25px;
    padding-right:25px;
    width:100px;
}
/*
html,body{
overflow: hidden;
}
*/
#title{
    background-color: hsl(182, 90%, 61%);
}

table.t1,.t2,.t3{
    border-collapse:collapse;
  }

table.t1 th{
    border:1px solid black;
    width:300px;
    height:24px;
}
table.t1 td{
    border:1px solid black;
    width:300px;
    height:24px;
    background:rgb(207, 201, 201);
}
table.t2 th{
    border:1px solid black;
    width:300px;
    height:24px;
}
table.t2 td{
    border:1px solid black;
    width:300px;
    height:24px;
    background:rgb(207, 201, 201);
}
table.t3 th{
    border:1px solid black;
    width:300px;
    height:24px;
}
table.t3 td{
    border:1px solid black;
    width:300px;
    height:24px;
    background:rgb(207, 201, 201);
}

.menu{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    
}